<?xml version="1.0" encoding="UTF-8"?>
<config>
	<ConfigId:ESAIndexBuilder>zh</ConfigId:ESAIndexBuilder>
	<ESAIndexBuilder:kw>
		<lang>zh</lang>
		<db>sqlite://root:root@localhost/esa_zh.db</db>
                <esaIndexPath>/xdisk/tmp/esa_ndx_zh/</esaIndexPath>
		<minTermFreq>3</minTermFreq>
	</ESAIndexBuilder:kw>
	<ArticleIndexer>
		<db>mysql://root:root@localhost/kwesa_test</db>
		<indexPath>/tmp/ndx_kw</indexPath>
		<stopwordsFile>res/stopwords.en.txt</stopwordsFile>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
		<query>
			<articleIter>SELECT page_id AS id\, page_id AS page_id\, 'cs' AS lang\, '' AS page_title\, text AS content FROM page WHERE page_id > ? LIMIT 100</articleIter>
		</query>
	</ArticleIndexer>
	<ConfigId:ESAAnalyzer>en</ConfigId:ESAAnalyzer>
        <ESAAnalyzer:kw>
                <db>sqlite://root:root@localhost/esa_zh.db</db>
		<lang>zh</lang>
		<stemmerClass></stemmerClass>
                <stopWordsFile>res/stopwords.zh.txt</stopWordsFile>
        </ESAAnalyzer:kw>
        <ESAAnalyzer:en>
                <db>sqlite://root:root@localhost/esa_db.db</db>
		<lang>en</lang>
		<stemmerClass>*porter</stemmerClass>
                <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
        </ESAAnalyzer:en>
        <ESAAnalyzer:ensb>
                <db>sqlite://root:root@localhost/esa_en.db</db>
		<lang>en</lang>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
                <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
        </ESAAnalyzer:ensb>
</config>
