<?xml version="1.0" encoding="UTF-8"?>
<config>
	<ConfigId:ESAIndexBuilder>kw</ConfigId:ESAIndexBuilder>
	<ESAIndexBuilder:kw>
		<lang>kw</lang>
		<db>mysql://root:root@localhost/kwesa</db>
		<esaIndexPath>/xdisk/tmp/ndx_kw</esaIndexPath>
		<minTermFreq>1</minTermFreq>
	</ESAIndexBuilder:kw>
	<ESAIndexBuilder:en>
		<lang>en</lang>
		<db>mysql://root:root@localhost/clw</db>
		<esaIndexPath>/home/zilka/devel/kmi/tmp/esaindex</esaIndexPath>
	</ESAIndexBuilder:en>
	<ESAIndexBuilder:zh>
		<lang>zh</lang>
		<db>mysql://root:root@localhost/clw</db>
		<esaIndexPath>/xdisk/tmp/esa_ndx_zh</esaIndexPath>
		<minTermFreq>5</minTermFreq>
	</ESAIndexBuilder:zh>
	<ESAIndexer>
		<articleDb>mysql://root:root@lwkm012/wikidb_zh</articleDb>
		<esaDb>mysql://lz:lz@localhost:4306/clld</esaDb>
		<destDb>mysql://root:root@localhost/clw</destDb>
		<destTableName>esa_vector_index_test</destTableName>
		<esaVectorSize>100</esaVectorSize>
		<lang>zh</lang>
		<stopWordsFile>res/stopwords.zh.txt</stopWordsFile>
		<stemmerClass></stemmerClass>
		<query>
			<articleIter>
				SELECT page_id AS id\, page_id\, page.page_title\, text.old_text AS content 
				FROM page_concepts AS page LEFT JOIN revision ON page_id = rev_page 
				LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? LIMIT 100</articleIter>
		</query>
	</ESAIndexer>
	<LinkingTruthBuilder>
		<dbx>mysql://root:root@localhost/clld</dbx>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb</db>
		<dbStyle>mediawiki</dbStyle>
		<evalDir>/tmp/uk</evalDir>
		<srcLang>en</srcLang>
		<dstLang>en</dstLang>
		<queryx dbStyle="clw">
			<articleByConceptId>SELECT * FROM article WHERE concept_id = ? AND lang = ?</articleByConceptId>
			<articleByConceptName>SELECT * FROM article WHERE concept_id = ? AND lang = ?</articleByConceptName>
			<articleIter>SELECT * FROM article WHERE lang = ? AND id > ? LIMIT 1</articleIter>
		</queryx>
		<query dbStyle="mediawiki">
			<articleByConceptId>SELECT page_id AS id\, page_id AS concept_id\, 'en' AS lang\, page.page_title AS title\, text.old_text AS content FROM page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ? AND (1 = 1 OR page_title = ?)</articleByConceptId>
			<articleByConceptName>SELECT page_id AS id\, page_id AS concept_id\, 'en' AS lang\, page.page_title AS title\, text.old_text AS content FROM page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_title = ? AND (1 = 1 OR page_title = ?)</articleByConceptName>
			<articleIter>SELECT page_id AS id\, page_id AS concept_id\, 'en' AS lang\, page.page_title AS title\, text.old_text AS content FROM page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE (1 = 1 OR page_title = ? ) AND page_id > ?  LIMIT 100</articleIter>
		</query>

	</LinkingTruthBuilder>
	<WikiConceptAnnotator>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<lang>cs</lang>
		<langLinksFile>/tmp/test</langLinksFile>
		<!--media/disk/kmi/enwiki-20110317-langlinks.sql</langLinksFile>-->
	</WikiConceptAnnotator>
	<CrossLanguageLinker>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<conceptDb>mysql://root:quaeCi9f@localhost:3307/wikidb</conceptDb>
		<esaDb>mysql://root:root@localhost/esa_eval</esaDb>
		<esaIndexDb>mysql://root:quaeCi9f@localhost:3307/clw</esaIndexDb>
		<destDb>mysql://root:quaeCi9f@localhost:3307/esa_eval</destDb>
		<srcLang>cs</srcLang>
		<srcLangStopwordsFile>res/stopwords.cs.txt</srcLangStopwordsFile>
		<srcLangStemmerClass>common.CzechStemmer</srcLangStemmerClass>
		<dstLang>en</dstLang>
		<evalDir>/home/zilka/devel/kmi/clld/clw-eval/</evalDir>
		<articleIter>SELECT page_id AS id\, page_id\, page_title\, text.old_text AS content FROM page_uk_selection LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? ORDER BY page_id LIMIT 1</articleIter>
	</CrossLanguageLinker>
	<ArticleIndexer>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<indexPath>/xdisk/tmp/ndx_kw</indexPath>
		<stopwordsFile>res/stopwords.en.txt</stopwordsFile>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
		<stemmerClassx>common.CzechStemmer</stemmerClassx>
		<query>
			<articleIter>SELECT page_id AS id\, page_id AS page_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page_concepts AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? LIMIT 100</articleIter>
		</query>
	</ArticleIndexer>
	<ArticleIndexerZh>
		<db>mysql://root:root@lwkm012/wikidb_zh</db>
		<indexPath>/xdisk/tmp/esa_ndx_zh</indexPath>
		<stopwordsFile>res/stopwords.zh.txt</stopwordsFile>
		<stemmerClass></stemmerClass>
		<lang>zh</lang>
		<query>
			<articleIter>SELECT page_id AS id\, page_id\, 'zh' AS lang\, page.page_title\, text.old_text AS content FROM page_concepts AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? AND page_namespace = 0 AND page_is_redirect = 0 LIMIT 100</articleIter>
		</query>
	</ArticleIndexerZh>
	<ESAVectorPrinter>
		<db>mysql://root:quaeCi9f@localhost:3307/clw</db>
		<id>1</id>
	</ESAVectorPrinter>
	<EvaluationDataMinerConfigId>SourceCzTuesday</EvaluationDataMinerConfigId>
	<EvaluationDataMinerEn>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/esa_eval</destDb>
		<clDb>mysql://root:quaeCi9f@localhost:3307/wikidb</clDb>
		<query>
			<selection>SELECT p.* FROM page p LEFT JOIN wikidb_cs.concept_mapping cm ON cm.concept_id = p.page_id INNER JOIN wikidb_cs.page_l_selection ps ON cm.page_id = ps.page_id</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'en' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_l_selection</selectionTable>
		<selectionClosureTable>page_l_joined</selectionClosureTable>
		<truthTable>truth_l_en</truthTable>
	</EvaluationDataMinerEn>
	<EvaluationDataMinerCs>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/esa_eval</destDb>
		<query>
			<selection>SELECT * FROM page_concepts WHERE page_id > 4 LIMIT 100</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_l_selection</selectionTable>
		<selectionClosureTable>page_l</selectionClosureTable>
		<truthTable>truth_l</truthTable>
	</EvaluationDataMinerCs>

	<!-- EXPERIMENT TUESDAY -->
	<EvaluationDataMinerSourceCzTuesday>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<destDb>mysql://root:root@lwkm012/e_tuesday_x</destDb>
		<query>
			<selection>SELECT * FROM e_tuesday.page_source_cz WHERE page_id = 980</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_source_cz_del</selectionTable>
		<selectionClosureTable>page_page_source_closure</selectionClosureTable>
		<truthTable>page_source_cz_truth_l</truthTable>
		<truthTag>cz</truthTag>
	</EvaluationDataMinerSourceCzTuesday>
	<EvaluationDataMinerSourceEsTuesday>
		<db>mysql://root:root@lwkm012/wikidb_es</db>
		<destDb>mysql://root:root@lwkm012/e_tuesday_x</destDb>
		<query>
			<selection>SELECT * FROM e_tuesday.page_source_es WHERE page_id = 157881</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'es' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_source_es_del</selectionTable>
		<selectionClosureTable>page_page_source_closure</selectionClosureTable>
		<truthTable>page_source_es_truth_l</truthTable>
		<truthTag>es</truthTag>
	</EvaluationDataMinerSourceEsTuesday>
	<EvaluationDataMinerSourceEnTuesday>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/e_tuesday</destDb>
		<query>
			<selection>
				SELECT xp.* FROM e_tuesday.page_source_cz p
				LEFT JOIN wikidb_cs.concept_mapping cm ON p.page_id = cm.page_id
				LEFT JOIN wikidb.page xp ON xp.page_id = cm.concept_id
				WHERE xp.page_id is not null;
			</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>e.page_source_en</selectionTable>
		<selectionClosureTable>page_source_en_closure</selectionClosureTable>
		<truthTable>page_source_en_truth_l</truthTable>
		<truthTag>en</truthTag>
	</EvaluationDataMinerSourceEnTuesday>

	<!-- EXPERIMENT ORIG -->
	<EvaluationDataMinerSourceCzOrig>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/e_orig</destDb>
		<query>
			<selection>SELECT * FROM e_orig.page_source_cz</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_source_cz_del</selectionTable>
		<selectionClosureTable>page_page_source_closure</selectionClosureTable>
		<truthTable>page_source_cz_truth_l</truthTable>
		<truthTag>cz</truthTag>
	</EvaluationDataMinerSourceCzOrig>
	<EvaluationDataMinerSourceEnOrig>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/e_orig</destDb>
		<query>
			<selection>
				SELECT xp.* FROM e_orig.page_source_cz p
				LEFT JOIN wikidb_cs.concept_mapping cm ON p.page_id = cm.page_id
				LEFT JOIN wikidb.page xp ON xp.page_id = cm.concept_id
				WHERE xp.page_id is not null;
			</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>e.page_source_en</selectionTable>
		<selectionClosureTable>page_source_en_closure</selectionClosureTable>
		<truthTable>page_source_en_truth_l</truthTable>
		<truthTag>en</truthTag>
	</EvaluationDataMinerSourceEnOrig>

	<!-- EXPERIMENT -->
	<EvaluationDataMinerSourceCz>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/e</destDb>
		<query>
			<selection>SELECT * FROM e.page_source_cz</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>page_source_cz_del</selectionTable>
		<selectionClosureTable>page_page_source_closure</selectionClosureTable>
		<truthTable>page_source_cz_truth_l</truthTable>
		<truthTag>cz</truthTag>
	</EvaluationDataMinerSourceCz>
	<EvaluationDataMinerSourceEn>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb</db>
		<destDb>mysql://root:quaeCi9f@localhost:3307/e</destDb>
		<query>
			<selection>
				SELECT xp.* FROM e.page_source_cz p
				LEFT JOIN wikidb_cs.concept_mapping cm ON p.page_id = cm.page_id
				LEFT JOIN wikidb.page xp ON xp.page_id = cm.concept_id
				WHERE xp.page_id is not null;
			</selection>
			<article>SELECT page_id AS id\, page_id AS concept_id\, 'cs' AS lang\, page.page_title\, text.old_text AS content FROM page AS page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id = ?</article>
		</query>
		<selectionTable>e.page_source_en</selectionTable>
		<selectionClosureTable>page_source_en_closure</selectionClosureTable>
		<truthTable>page_source_en_truth_l</truthTable>
		<truthTag>en</truthTag>
	</EvaluationDataMinerSourceEn>

	<TestESAVectors>
		<db>mysql://root:root@lwkm012/wikidb_zh</db>
		<dbEsa>mysql://root:root@localhost/clw</dbEsa>
		<lang>zh</lang>
		<stopwordsFile>res/stopwords.zh.txt</stopwordsFile>
		<inputFile>/tmp/australia.zh.txt</inputFile>
		<inputFile2>/tmp/newzeland.zh.txt</inputFile2>
		<inputString>australia</inputString>
	</TestESAVectors>
	<TestESAVectorsEs>
		<dbEsa>mysql://root:root@localhost/esa</dbEsa>
		<db>mysql://root:root@lwkm012/wikidb_es</db>
		<lang>es</lang>
		<stopwordsFile>res/stopwords.es.txt</stopwordsFile>
		<stemmerClass>org.tartarus.snowball.ext.SpanishStemmer</stemmerClass>
	</TestESAVectorsEs>
	<TestESAVectorsCs>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<dbEsa>mysql://root:root@localhost/wikidb_cs</dbEsa>
		<lang>cs</lang>
		<stopwordsFile>res/stopwords.cs.txt</stopwordsFile>
		<stemmerClass>common.CzechStemmer</stemmerClass>
	</TestESAVectorsCs>
	<PrepareWikiDbConfigId>Cs</PrepareWikiDbConfigId>
	<PrepareWikiDbCs>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_cs</db>
		<disambigStr>rozcestník</disambigStr>
		<hnDisambigStr>Rozcestník</hnDisambigStr>
	</PrepareWikiDbCs>
	<PrepareWikiDbEs>
		<db>mysql://root:quaeCi9f@localhost:3307/wikidb_es</db>
		<disambigStr>desambig</disambigStr>
		<hnDisambigStr>Desambig</hnDisambigStr>
	</PrepareWikiDbEs>
	<ConfigId:LinkerRunner>ETuesdayEs</ConfigId:LinkerRunner>
	<LinkerRunner:ETuesdayEs>
		<!-- TUESDAY EXPERIMENT SELECTION -->
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_es</db>
		<conceptDb>mysql://root:quaeCi9f@localhost:3308/wikidb_en</conceptDb>
		<esaDb>mysql://root:root@localhost/esa</esaDb>
		<esaIndexDb>mysql://root:quaeCi9f@localhost:3308/esa_index</esaIndexDb>
		<esaIndexCacheDb>mysql://root:quaeCi9f@localhost:3308/esa_index_cache</esaIndexCacheDb>
		<esaIndexPath>/data/index_all2</esaIndexPath>
		<esaIndexTable>index_all2</esaIndexTable>
		<destDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res_dbg</destDb>
		<srcLang>es</srcLang>
		<srcLangStopwordsFile>res/stopwords.es.txt</srcLangStopwordsFile>
		<srcLangStemmerClass>org.tartarus.snowball.ext.SpanishStemmer</srcLangStemmerClass>
		<dstLang>en</dstLang>
		<articleIter>SELECT page_id AS id\, page_id\, page_title\, text.old_text AS content FROM e_tuesday.page_source_es LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? ORDER BY page_id LIMIT 1</articleIter>
		<maxLinksPerLinkedPage>10000</maxLinksPerLinkedPage>
		<cllMethods>
			<method id="5">
				<N>10</N>
				<nDimensions>1000</nDimensions>
			</method>
			<!-- similar -->
			<method id="4">
				<N>10000</N>
			</method>
			<x>
			<!-- vsum -->
			<method id="5">
				<N>3</N>
				<nDimensions>1000</nDimensions>
			</method>
			<method id="5">
				<N>500</N>
				<nDimensions>1000</nDimensions>
			</method>
			<!-- similar2 -->
			<method id="6">
				<N2>3</N2>
				<N>1000</N>
				<nDimensions>1000</nDimensions>
			</method>
			<method id="6">
				<N2>10</N2>
				<N>1000</N>
				<nDimensions>1000</nDimensions>
			</method>

			<method id="6">
				<N2>500</N2>
				<N>1000</N>
				<nDimensions>1000</nDimensions>
			</method>
			</x>
			<x>
			<!-- wikilinks -->
			<method id="7">
				<N>3</N>
				<maxLinksPerLinkedPage>5000</maxLinksPerLinkedPage>
			</method>
			<method id="7">
				<N>500</N>
				<maxLinksPerLinkedPage>5000</maxLinksPerLinkedPage>
			</method>
			<method id="7">
				<N>10</N>
				<maxLinksPerLinkedPage>5000</maxLinksPerLinkedPage>
			</method>
			</x>
		</cllMethods>
	</LinkerRunner:ETuesdayEs>
	<ConfigId:Grapher>ETuesdayCs</ConfigId:Grapher>
	<Grapher:ETuesdayEs>
		<evalDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res_long</evalDb>
		<truthTableName>e_tuesday.truth_esen</truthTableName>
		<truthTagConstraint>%</truthTagConstraint>
		<conceptMappingTableName>wikidb_es.concept_mapping</conceptMappingTableName>
		<pagesSrcTableName>wikidb_es.page</pagesSrcTableName>
		<pagesDstTableName>wikidb_en.page</pagesDstTableName>
		<plotDir>/home/zilka/devel/kmi/clld/plots_e_tuesday_long_pr_es</plotDir>


		<tableName>es2en_simdocs_10000docs_bwhole_ewholefast</tableName>
		<tableName>es2en_2simdocs_first10000docs_10docs_bwhole_ewholefast</tableName>
		<tableName>es2en_vsum_10docs_10000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first10docs_bwhole_ewholefast</tableName>

		<x>
		<tableName>es2en_2simdocs_first1000docs_3docs_bwhole_ewholefast</tableName>

		<tableName>es2en_2simdocs_first1000docs_500docs_bwhole_ewholefast</tableName>
		<tableName>es2en_vsum_3docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_vsum_500docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first3docs_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first500docs_bwhole_ewholefast</tableName>
		</x>


	</Grapher:ETuesdayEs>
	<Grapher:ETuesdayCs>
		<evalDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res_long</evalDb>
		<truthTableName>e_tuesday.truth_csen</truthTableName>
		<truthTagConstraint>%</truthTagConstraint>
		<conceptMappingTableName>wikidb_cs.concept_mapping</conceptMappingTableName>
		<pagesSrcTableName>wikidb_cs.page</pagesSrcTableName>
		<pagesDstTableName>wikidb_en.page</pagesDstTableName>
		<plotDir>/home/zilka/devel/kmi/clld/plots_e_tuesday_long_pr_cs</plotDir>

		<tableName>cs2en_simdocs_10000docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_2simdocs_first10000docs_3docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_3docs_10000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first3docs_bwhole_ewholefast</tableName>

		<x>
		<tableName>cs2en_2simdocs_first1000docs_10docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_2simdocs_first1000docs_500docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_10docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_500docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first10docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first500docs_bwhole_ewholefast</tableName>
		</x>

	</Grapher:ETuesdayCs>
	<ConfigId:AgreementTable>x</ConfigId:AgreementTable>
	<AgreementTable:ENCS>
		<db>mysql://root:root@lwkm012/wikidb_en</db>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_cs.page</pageTable2>
		<truthTable1>e_tuesday.page_source_en_truth_l</truthTable1>
		<truthTable2>e_tuesday.page_source_cz_truth_l</truthTable2>
		<conceptMappingTable>wikidb_cs.concept_mapping</conceptMappingTable>
	</AgreementTable:ENCS>
	<AgreementTable:ENES>
		<db>mysql://root:root@lwkm012/wikidb_en</db>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_es.page</pageTable2>
		<truthTable1>e_tuesday.page_source_en_truth_l</truthTable1>
		<truthTable2>e_tuesday.page_source_es_truth_l</truthTable2>
		<conceptMappingTablePage>wikidb_es.concept_mapping</conceptMappingTablePage>
		<conceptMappingTableLinksTo>wikidb_es.concept_mapping</conceptMappingTableLinksTo>
	</AgreementTable:ENES>
	<AgreementTable:EN4ES>
		<db>mysql://root:root@lwkm012/wikidb_en</db>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_en.page</pageTable2>
		<truthTable1>e_tuesday.page_source_en_truth_l</truthTable1>
		<truthTable2>e_tuesday_res.es2en_vsum_3docs_500dims_bwhole_ewhole_encs</truthTable2>
		<conceptMappingTablePage>wikidb_es.concept_mapping</conceptMappingTablePage>
		<conceptMappingTableLinksTo></conceptMappingTableLinksTo>
	</AgreementTable:EN4ES>
	<AgreementTable:EN4CS>
		<db>mysql://root:root@lwkm012/wikidb_en</db>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_en.page</pageTable2>
		<truthTable1>e_tuesday.page_source_en_truth_l</truthTable1>
		<truthTable2>e_tuesday_res.simdocs_500docs_bwhole_ewhole_encs_1000fastxxx</truthTable2>
		<conceptMappingTablePage>wikidb_cs.concept_mapping</conceptMappingTablePage>
		<conceptMappingTableLinksTo></conceptMappingTableLinksTo>
	</AgreementTable:EN4CS>
	<AgreementTable:cs>
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_en</db>
		<label1>en</label1>
		<label2>cs</label2>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_cs.page</pageTable2>
		<truthTable1>e_tuesday.page_source_en_truth_l</truthTable1>
		<truthTable2>e_tuesday.page_source_cs_truth_l</truthTable2>
		<conceptMappingTablePage>wikidb_cs.concept_mapping</conceptMappingTablePage>
		<conceptMappingTableLinksTo>wikidb_cs.concept_mapping</conceptMappingTableLinksTo>
	</AgreementTable:cs>
	<AgreementTable:es>
		<db>mysql://root:quaeCi9f@localhost:3308/e_tuesday</db>
		<label1>en</label1>
		<label2>x2</label2>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_es.page</pageTable2>
		<truthTable1>e_tuesday.truth_en</truthTable1>
		<truthTable2>e_tuesday.truth_x2</truthTable2>
		<conceptMappingTablePage>wikidb_es.concept_mapping</conceptMappingTablePage>
		<conceptMappingTableLinksTo>wikidb_es.concept_mapping</conceptMappingTableLinksTo>
	</AgreementTable:es>
	<AgreementTable:x>
		<db>mysql://root:quaeCi9f@localhost:3308/e_tuesday</db>
		<label1>en</label1>
		<label2>x2</label2>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_en.page</pageTable2>
		<truthTable1>e_tuesday.truth_en</truthTable1>
		<truthTable2>e_tuesday.truth_x2</truthTable2>
		<conceptMappingTablePage></conceptMappingTablePage>
		<conceptMappingTableLinksTo></conceptMappingTableLinksTo>
	</AgreementTable:x>
	<AgreementTable:methodsCS>
		<db>mysql://root:quaeCi9f@localhost:3308/e_tuesday</db>
		<label1>en</label1>
		<label2></label2>
		<pageTable1>wikidb_en.page</pageTable1>
		<pageTable2>wikidb_en.page</pageTable2>
		<truthTable1>e_tuesday.truth_en</truthTable1>
		<truthTable2>e_tuesday.truth_x2</truthTable2>
		<conceptMappingTablePage></conceptMappingTablePage>
		<conceptMappingTableLinksTo></conceptMappingTableLinksTo>
	</AgreementTable:methodsCS>
	<ConfigId:AgreementGraph>es</ConfigId:AgreementGraph>
	<AgreementGraph:cs>
		<db>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res</db>
		<resDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res</resDb>
		<resModDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res_mod</resModDb>
		<corrDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_corr</corrDb>
		<conceptMappingTable>wikidb_cs.concept_mapping</conceptMappingTable>
		<truthTable>e_tuesday.truth_csen</truthTable>
		<resFolder>/tmp/agreementgraphs/</resFolder>

		<tableName>cs2en_simdocs_1000docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_2simdocs_first1000docs_3docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_2simdocs_first1000docs_10docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_2simdocs_first1000docs_500docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_3docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_10docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_vsum_500docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first3docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first10docs_bwhole_ewholefast</tableName>
		<tableName>cs2en_wikilinks_first500docs_bwhole_ewholefast</tableName>
	</AgreementGraph:cs>
	<AgreementGraph:es>
		<db>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res</db>
		<resDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res</resDb>
		<resModDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_res_mod</resModDb>
		<corrDb>mysql://root:quaeCi9f@localhost:3308/e_tuesday_corr</corrDb>
		<conceptMappingTable>wikidb_es.concept_mapping</conceptMappingTable>
		<truthTable>e_tuesday.truth_esen</truthTable>
		<resFolder>/tmp/agreementgraphs_es/</resFolder>

		<x>
		<tableName>es2en_simdocs_1000docs_bwhole_ewholefast</tableName>
		<tableName>es2en_2simdocs_first1000docs_3docs_bwhole_ewholefast</tableName>
		<tableName>es2en_2simdocs_first1000docs_10docs_bwhole_ewholefast</tableName>
			<tableName>es2en_2simdocs_first1000docs_500docs_bwhole_ewholefast</tableName>
		</x>
		<tableName>es2en_vsum_3docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_vsum_10docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_vsum_500docs_1000dims_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first3docs_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first10docs_bwhole_ewholefast</tableName>
		<tableName>es2en_wikilinks_first500docs_bwhole_ewholefast</tableName>
	</AgreementGraph:es>
	<ConfigId:ESAGoogle>0</ConfigId:ESAGoogle>
	<ESAGoogle:0>
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_cs</db>
		<indexDb>mysql://root:quaeCi9f@localhost:3308/esa_index</indexDb>
		<indexCacheDb>mysql://root:quaeCi9f@localhost:3308/esa_index_cache</indexCacheDb>
		<esaIndexPath>/data/index_all2</esaIndexPath>
		<esaDb>mysql://root:quaeCi9f@localhost:3308/esa</esaDb>
		<lang>cs</lang>
		<stopWordsFile>res/stopwords.cs.txt</stopWordsFile>
		<stemmerClass>common.CzechStemmer</stemmerClass>
	</ESAGoogle:0>

	<ConfigId:ESAVectorLengthExperiment>0</ConfigId:ESAVectorLengthExperiment>
        <ESAVectorLengthExperiment:0>
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_en</db>
		<esaDb>mysql://root:root@localhost/clw</esaDb>
		<lang>en</lang>
		<stopWordsFile>res/stopwords.en.txt</stopWordsFile>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
		<!--<query>national football team</query>-->
		<query>/home/zilka/devel/kmi/clld/linux.txt</query>
		<documentListQuery>
			SELECT page.page_id\, text.old_text AS content
			FROM page_linux AS page
			LEFT JOIN revision ON page_id = rev_page
			LEFT JOIN text ON rev_text_id = old_id
			LIMIT 200
			-- WHERE page_id in (11902\, 94419\, 317951\, 12\, 10\, 26702\, 2508282)
		</documentListQuery>
	</ESAVectorLengthExperiment:0>

	<ConfigId:LinkMiner>en</ConfigId:LinkMiner>
	<LinkMiner:en>
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_en</db>
		<query>
			<articleIter>SELECT page.page_id\, page.page_title\, text.old_text AS content FROM page LEFT JOIN revision ON page_id = rev_page LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? LIMIT 100</articleIter>
		</query>
	</LinkMiner:en>

	<ConfigId:LinkVocabularyBuilder>0</ConfigId:LinkVocabularyBuilder>
	<LinkVocabularyBuilder:0>
		<db>mysql://root:quaeCi9f@localhost:3308/wikidb_en</db>
		<inputFile>/xdisk/devel/kmi/clld/data/anchor_summary.stemmed.sorted.unaccented.unjunked.csv</inputFile>
	</LinkVocabularyBuilder:0>
	<systran>
		<server>localhost</server>
		<port>8888</port>
	</systran>
</config>
