<?xml version="1.0" encoding="UTF-8"?>
<config>
	<ConfigId:ESAIndexBuilder>kw</ConfigId:ESAIndexBuilder>
	<ESAIndexBuilder:kw>
		<lang>kw</lang>
		<db>mysql://root:root@localhost/kwesa_test</db>
		<esaIndexPath>/tmp/ndx_kw</esaIndexPath>
		<minTermFreq>1</minTermFreq>
	</ESAIndexBuilder:kw>
	<ArticleIndexer>
		<db>mysql://root:root@localhost/kwesa_test</db>
		<indexPath>/tmp/ndx_kw</indexPath>
		<stopwordsFile>res/stopwords.en.txt</stopwordsFile>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
		<query>
			<articleIter>SELECT page_id AS id\, page_id AS page_id\, 'cs' AS lang\, '' AS page_title\, text AS content FROM page WHERE page_id > ? LIMIT 100</articleIter>
		</query>
	</ArticleIndexer>
	<ConfigId:ESAAnalyzer>kw</ConfigId:ESAAnalyzer>
        <ESAAnalyzer:kw>
		<db>sqlite://root:root@localhost/esadb.db</db>
		<dbx>mysql://root:quaeCi9f@10.10.90.90/clw</dbx>
		<dby>mysql://root:root@localhost/kwesa_test</dby>
		<lang>en</lang>
		<stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
		<stopwordsFile>res/stopwords.en.txt</stopwordsFile>
        </ESAAnalyzer:kw>
</config>
